@mixin horizontal-center
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin vertical-center
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*@mixin small-phone
{
	@include media(min-width:320px);
}

@mixin small-tablet
{
	@include media(min-width: 481px);
}

@mixin medium-tablet-portrait
{
	@include media(min-width: 641px);
}

@mixin tablet
{
	@include media(min-width: 961px);
}

@mixin large-tablet-landscape
{
	@include media(min-width: 1025px);
}

@mixin desktop
{
	@include media(min-width: 1281px);
}*/

//@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
//@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
//@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
//@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
//@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
//@media (min-width:1281px) { /* hi-res laptops and desktops */ }