@import 'grid-settings';
@import 'grid-mixins';
@import 'mixins';
.main-panel
{
	@media(min-height: 800px)
	{
		@include vertical-center();
	}
	width: 100%;
}

.button
{
   @include one-quarter;
   text-align: center;
}

.outer-container
{
	@include outer-container;
}

.header
{

}

.footer
{
	position: relative;
	width: 100%;
	/*@media(max-height: 350px)
	{
		position: relative
	}*/

	/*@media(min-height: 350px)
	{
		position: absolute;
		bottom: 0px;
	}

	@media(min-height: 350px)
	{
		top: 375px;
	}*/
}